[2016-04-02 21:21] hansthompson opened #3 "unzip_gtfs() wants to unzip to base directory"
The first line of unzip_gtfs is

`ex_dir <- strsplit(path, '/')[[1]][1]`

Assuming path is the filepath to gtfs_zip.zip this will assign the root directory of the user or operating system.

[2016-05-31 21:05] dantonnoriega commented on #3
unzip_gtfs has been updated and now unzips to a temporary directory unless specified otherwise.

[2016-05-31 21:05] #3 closed

[2016-06-18 05:03] ultinomics opened #7 "Need to create a description."
Apparently I cannot create a description for the package, @eamcvey! Would be useful so folks could know what the package does.

[2016-06-24 16:08] #7 closed

[2016-06-27 21:26] murcoil opened #8 "several functions depend on agency_id, which is an optional field"
I'm running into trouble with several of the mapping functions since they depend on the presence of agency_id, which is an optional field in agency.txt and routes.txt. So even though structure, files, and vars may validate, they can't necessarily be mapped.

In Chicago, for example, CTA doesn't provide agency_id in its feed, so map_gtfs_route_shape() map_gtfs_route_stops() and map_gtfs_agency_rout

[2016-06-27 21:43] dantonnoriega commented on #8
Great catch. `agency_name` is required but not `agency_id` --- which is different for other ID vars (like `stop_id`).

I'll change it to be so that it depends on `agency_name`.

[2016-06-27 23:03] dantonnoriega commented on #8
OK! The input is now `agency_name` values. I still need to input some checks but it should be working. Note that the default is `agency = NULL` for the `map_gtfs_agency_routes` which means the function _assumes_ there is only one agency and takes the first observe `agency_name` by default.

[Here is a gist](https://gist.github.com/ultinomics/41be8cb0165a5b536e1e81762c74b1c5) for plotting CTA using

[2016-06-28 15:08] murcoil commented on #8
Still wasn't doing it for me--map_gtfs_agency_routes is choking on checking for a null value of agency_id rather than existence of the variable. I think I might have fixed it, if you take pull requests.

[2016-06-28 15:29] murcoil commented on #8
I believe this is fixed by PR #9

[2016-06-28 17:41] murcoil commented on #8
Thanks for catching names(), my mistake. Your new commit works for me.

With the is.null() test I was still getting an error when the agency_id variable did not exist. My understanding of is.null() is that is looks at whether the content of the variable is null, but it assumes the variable exists.

`> "route_id" %in% names(gtfs_obj$routes_df) #variable exists
[1] TRUE

[2016-06-28 17:41] #8 closed

[2016-07-08 21:18] hansthompson opened #10 "useR2016 Online video for gtfsr?"
I don't see the useR2016 talk available.  Did you not want to share it?

https://channel9.msdn.com/Events/useR-international-R-User-conference/useR2016/gtfsr-A-package-to-make-transit-system-analysis-easy

[2016-07-09 01:17] dantonnoriega commented on #10
It was a 5 min lighting talk. But sure if those were recorded?
On Jul 8, 2016 5:18 PM, "Charles Hans Thompson" notifications@github.com
wrote:

[2016-07-09 05:48] hansthompson commented on #10
I can't say for sure.  It just looks like there was a link and there are other lightning talks posted.

[2016-07-17 21:15] hansthompson opened #12 "import_gtfs should handle urls without .zip extenstion"
Currently the vignette isn't working for me because GO Durham is directed to a web page that isn't a zip file in transit feeds.

I think that this should be handled in import_gtfs to look for a .zip extension first and not and throw up a warning as general way to handle these warnings.

[2016-07-17 21:43] hansthompson opened #13 "function to pull all versions of a feed"
I just thought it might be neat to look across previous versions and summarize the changes some how. Not sure what would be best though.

[2016-07-17 21:53] hansthompson opened #14 "Export stops and routes as sp objects"
I know this package is intended for validation but how about a function to export stops and routes as sp objects (SpatialPointsDataFrame and SpatialLinesDataFrame respectively).

Do you feel this fits within the scope of the package?

[2016-07-17 22:01] hansthompson opened #15 "Pass opacity variable to functions that call leaflet"
Just thought it could be helpful sometimes when its hard to see it on the basemap.

[2016-07-17 23:02] hansthompson opened #17 "validation in calendar.txt"
I think if we parse the dates in calendar.txt with `strptime(foo, format = "%Y%m%d")` we can test if they fit the standard.

And I think if we convert the fields for the days of the week with  `as.logical()` we can test if they are a value other than 0 or 1.

[2016-07-17 23:16] hansthompson commented on #17
we could also do a visual validation of the times and dates from calendar.txt. Continuing from the vignette duke example

[code]

[2016-07-23 23:19] dantonnoriega commented on #12
You're correct that Go Transit changed their API link to https://gotransitnc.org/developer-resources/gtfs which is not a direct feed.

However, I still prefer the warning as opposed to checking for .zip because I have found compressed files that don't end in zip that successfully unpack and load (can't find an example). Hence, I prefer the flexibility, the throwing of warning, and the return of a

[2016-07-23 23:20] dantonnoriega commented on #13
That would be cool! Not sure if the API has this though... have you found a way to do this? Seems to just have the most recent data (and we aren't storing older versions).

[2016-07-23 23:21] dantonnoriega commented on #14
That does! @eamcvey and I want this package to communicate well with other packages. I'll see if I can build a function to do so.

[2016-07-27 04:12] hansthompson commented on #14
this snippet might be helpful

[code]

[2016-07-27 15:29] minhnhat992 opened #18 "Couldn't render NYC subway lines"
Hi ,

I am researching about the NYC's subway system and came across the "gtfsr" package. It is a wonderful package, however, it wasn't able to render the shapes of many NYCs subway lines (E, 1, C , etc.). The error that I received is :

Error in `row.names<-.data.frame`(`*tmp*`, value = value) :

  missing values in 'row.names' are not allowed

I suspect there might be something incorrect in the

[2016-07-27 20:40] #12 closed

[2016-07-27 20:46] dantonnoriega commented on #18
Thanks for the reproducible code! I was able to find the problem and fixed the issue.

Try removing/reinstall the package and give it a go!

[2016-07-27 20:46] #18 closed

[2016-09-13 11:32] patperu opened #19 "Import error if the gtfs-file encoding is `UTF-8 BOM`"
Hello,
`import_gtfs` fails if the encoding of a gtfs file is `UTF-8 BOM`. This is because the function use `readr::read_csv` with the default encoding in `locale`  set to `UTF-8`.

Example:
[code]

Not sure what a solution could be - maybe make `locale` an argument in the function call? Most of the times all files of a gtfs dataset are of one type (BOM or not BOM).

Thank you for the package!
Patr

[2016-09-16 03:17] dantonnoriega commented on #19
I'll be going over the package next week! I'll give this a look.

On Sep 13, 2016 7:32 AM, "Patrick Hausmann" notifications@github.com
wrote:

[2016-09-17 10:37] patperu commented on #19
Ok, great!
I came across this gist from @hrbrmstr https://gist.github.com/hrbrmstr/be3bf6e2b7e8b06648fd - maybe it could be useful.

[2016-09-17 10:53] patperu opened #20 "Validation fails if `calendar.txt` is missing, but `calendar_dates.txt` exists"
Hi,
this gtfs feed
[code]
is classified as `...failed. Invalid data structure.`
This is because the file `calendar.txt` is missing - this is the relevant line:
https://github.com/ropenscilabs/gtfsr/blob/master/R/validate-gtfs-structure.R#L19

But according to the reference, you can omit `calendar.txt`  if `calendar_dates.txt` includes all dates of service, see https://developers.google.com/transit

[2016-09-17 12:17] hrbrmstr commented on #19
An issue here is that `read_csv()` uses `iconvlist()` to test the `encoding` parameter to `locale()` and on my Linux and macOS systems, `UTF-8-BOM` isn't in said list so it won't do the conversion (throws an error).

This could be useful (modified from the linked gist):

[code]

Hadley isn't technically correct [here](http://stackoverflow.com/questions/21624796/read-a-utf-8-text-file-with-bom-in-r

[2016-09-17 12:50] patperu commented on #19
Wow!  Bob, thank you so much for this! I'm always excited about your answers!!

[2016-09-28 14:09] #10 closed

[2016-09-28 14:10] dantonnoriega commented on #13
Doesn't seem possible but will look into as I update the package!

[2016-09-28 14:10] #13 closed

[2016-09-28 16:28] dantonnoriega commented on #20
Great find. I'll update so that validation checks for this exception.

[2016-09-28 17:16] dantonnoriega commented on #20
Fixed!

[2016-09-28 17:16] #20 closed

[2016-09-28 17:54] ultinomics opened #21 "Add Trillium GTFS feeds new optional files"
The following are new additions to the trillium gtfs data.

[code]

There appears to be new field created by trillium as well e.g.

stops.txt
    - `platform_code`
routes.txt
    - `route_sort_order` and `min_headway_minutes`

 Need to update meta data and validation.

[2016-09-28 20:30] dantonnoriega commented on #21
Solved, at least given my tests.

[2016-09-28 20:30] #21 closed

[2016-09-28 20:30] dantonnoriega commented on #19
I think I've solved this but before closing, please give it a go!

[2016-09-30 04:18] #19 closed

[2016-09-30 04:24] ultinomics opened #22 "Set API key in .Renviron"
Suggestion from robinlovelace: recommend setting the key in .Renviron, as documented in the httr vignette, e.g. with the line GTFS_API_KEY=XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX. Then it could be automatically retrieved with each new session by adding something like the following lines to get_api_key():

[code]

We use a similar technique in stplanr with [cyclestreet_pat](https://github.com/ropensci/

[2016-09-30 04:27] ultinomics opened #23 "Plotting should go earlier in the README, shorten, and move complicated stuff to vignette"
Suggestion: make simply loading and plotting GTFS data appear earlier and more prominently in the README.

Make the README shorter and self-standing, make the vignette longer with more links to existing software and documentation for understanding and working with GTFS data.

[2016-09-30 04:30] dantonnoriega opened #24 "Add function to convert `gtfs` object to `sp` (similar to `gtfs2sldf()`)"
Suggestion: explore options for converting gtfs data classes into spatial objects such as SpatialLinesDataFrame.

Note: stplanr has a basic function for this: gtfs2sldf().

[2016-09-30 04:32] ultinomics opened #25 "Create a new general mapping function `map_gtfs()`"
**Suggestion**: rename this verbosely name function or create a new generic plotting function called simply `map_gtfs()`:

I think in most cases users will want to see the stops. **Suggestion**: make include_stops = TRUE the default option in this function and the yet-to-be created generic `map_gtfs()`.

[2016-09-30 14:39] hrbrmstr commented on #19
I felt compelled to update here since I was a bit wrong (I like to admit when I'm wrong :-)

`read.csv()` itself is not handling the `UTF-8-BOM` parameter, but R **is** internally when processing connections:

[code]

I especially like the:

[code]

comment :-)

That actually gets exposed at the C-level R interface as `Rf_set_iconv()`, too.

So, anything that can take a connection can actually hav

[2016-09-30 16:36] dantonnoriega commented on #19
No apologies needed! Even if your solution was "wrong" in the sense that
read.csv is not really doing the work, it still provided me with a way of
getting the code to be more robust!

Without your insight, I would have likely spent a long while trying to
figure out what was wrong, and likely would have ended up with zero
conceptual understanding, off base entirely, or with a shit solution.

On Sep

[2016-10-01 09:19] patperu commented on #19
Sorry for being late, I'll give it a try during the weekend!
Thank you!

[2016-10-02 00:09] hrbrmstr commented on #19
Thanks to this I've got a fledgling pkg: https://github.com/hrbrmstr/bom that will eventually make it more trivial to deal with these crazy BOMs. I haven't looked at how you solved it for `gtfsr`, yet, but let me know what types of API calls would help in the future. I implemented it in C for speed but may be able to tap into the `connections` interface on the R side if that would be more helpful.

[2016-10-05 21:51] dantonnoriega commented on #25
I have a working version on branch `map-update`. I still need to update the README but it's tested and will be deployed soon.

[2016-10-05 21:51] #25 closed

[2016-10-05 21:54] ultinomics commented on #15
I have a working branch `map-update` with a new option to change the opacity of stops (`stop_opacity`) but don't yet have one for route opacity. However, there is an option to hide route shapes by selecting `only_stops = TRUE`.

[2016-10-05 21:55] dantonnoriega commented on #15
I have a working branch map-update with a new option to change the opacity of stops (stop_opacity) but don't yet have one for route opacity. However, there is an option to hide route shapes by selecting only_stops = TRUE.

Give it a go and let me know if it helps/works.

[2016-10-05 22:14] dantonnoriega commented on #15
And now there is a `route_opacity` option!

[2016-10-05 22:14] #15 closed

[2016-10-07 04:57] dantonnoriega commented on #23
Done!

[2016-10-07 04:57] #23 closed

[2016-10-22 17:17] patperu opened #26 "Error when calling 'map_gtfs'"
Hi,
when I run the code from the readme using this gtfs dataset (Palermo) I'm getting an error

[code]

This one from Rome on the other hand runs fine!

[code]

Cheers
Patrick

[2016-10-23 23:10] ultinomics opened #27 "Add package level manual"
Please add a package level manual file so that when users do ?gtfsr and ?gtfsr-package they get a high level manual file that explains the package, etc.

[2016-10-23 23:47] dantonnoriega commented on #26
Found that I missed a line of code! Thanks for the great reproducible code!

Give it another go with the new version.

[2016-10-24 17:38] patperu commented on #26
Works great now! Thank you for for doing it so promptly!

[2016-10-25 18:56] dantonnoriega commented on #26
Interesting! I'll take a look.

On Oct 22, 2016 1:17 PM, "Patrick Hausmann" notifications@github.com
wrote:

[2016-11-11 07:07] hansthompson opened #28 "read_gtfs will delete invalid gtfs zip files."
### read_gtfs will delete invalid gtfs zip files.

I don't have permission to share the zipped gtfs in question but on opening it with read_gtfs it deletes the zip from my file system.  I'm using ubuntu 14.04.

[2017-01-04 00:54] dantonnoriega commented on #28
This is the default action of the `read_gtfs`. I changed it to keep by default. Let me know if it keeps happening.

[2017-01-04 01:16] #26 closed

[2017-01-04 02:34] #27 closed

[2017-01-04 02:39] dantonnoriega commented on #22
Done!

[2017-01-04 02:39] #22 closed

[2017-01-05 18:03] dantonnoriega opened #29 "Add more examples throughout package"

[2017-01-06 00:18] mdsumner commented on #24
sf will be a better target now, sp has a subset of what sf can store. I'm happy to explore this, I've got my sf skillz pretty well sorted.

[2017-01-06 04:25] dantonnoriega commented on #24
The help would be very much appreciated! My skills are very low.

On Jan 5, 2017 7:18 PM, "Michael Sumner" <notifications@github.com> wrote:

sf will be a better target now, sp has a subset of what sf can store. I'm
happy to explore this, I've got my sf skillz pretty well sorted.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://git

[2017-01-06 14:25] mdsumner commented on #24
One way is to use the re-compose function `spbabel::sp`, which is looking for the generic names "object_", "branch_", "order_", "x_", "y_" which correspond to your shape_id (one branch per object), shape_pt_sequence, shape_pt_lon and shape_pt_lat.

[code]

That can be converted to `sf` using `sf::st_as_sf`, and more directly the dev version of spbabel has stubs for the `sf()` function, that I have

[2017-03-02 12:51] maelle opened #31 "New format maybe worth knowing"
https://github.com/public-transport/friendly-public-transport-format

[2017-05-09 04:47] dantonnoriega commented on #31
Thanks @maelle ! I'll take a look this summer.

[2017-05-18 15:29] #28 closed

[2017-06-25 23:40] tbuckl commented on #24
@mdsumner thanks for those snippets! @dantonnoriega thanks for this excellent package! as you can see above, i'm poking around with questions like this. let me know if you have any questions.

[2017-07-09 23:31] #31 closed

[2017-07-09 23:48] dantonnoriega commented on #24
Added @tombuckley gtfs routes to `sf` function. @mdsumner, once the release is live, would you mind checking out the results? I'm not familiar enough with `sf` data to understand the benefit.

[2017-07-09 23:49] dantonnoriega commented on #14
See #24

[2017-07-09 23:49] #14 closed

[2017-07-09 23:50] dantonnoriega opened #33 "Added overlays for stops and routes"
Make each stop/route it's own overlay. This allows the user to enable/disable routes.

[2017-07-10 03:28] dantonnoriega commented on #33
Added to v1.0.3

[2017-07-10 03:28] #33 closed

[2017-07-10 20:45] tombuckley opened #36 "add docs for os-specific setup?"
i had to do this before import_gtfs() would work today (windows 10 R 3.3)

[code]

[2017-07-10 20:46] tbuckl commented on #36
@dantonnoriega i can put this in the main doc if thats helpful. or if you want to link out to a secondary doc that works too.

[2017-07-10 22:16] dantonnoriega commented on #36
weird. what packages needed those?

[2017-07-10 22:31] tbuckl commented on #36
@dantonnoriega yeah i thought it was weird too--could be something with my env. let me check on another machine.

[2017-07-10 22:36] tbuckl commented on #36
nevermind looks like this was an issue in my environment.

[2017-07-10 22:36] #36 closed

[2017-07-24 21:34] rafapereirabr opened #37 "Calculating distance of each trip_id and shape_id"
Hi Danton.

I would like to share this snippet of code that is super fast to calculate the distance of each shape_id. The idea is to use `data.table` to make really quick operations.

[code]

Now what I do next is to add this info to the `trip.txt` file . I also do a similar operation in the `stop_times.txt` file to estimate the travel time between stops and the travel time for each trip. The idea

[2017-07-25 06:55] phildonovan opened #38 "Dealing with irregular, unrecognised GTFS files"
Hey guys,

I *think* the Auckland GTFS feed fails when importing the non-conforming GTFS file called stops_info.txt. Here is the reproducible code:

    akl_url <- get_feedlist() %>%
      filter(grepl("Auckland Transport GTFS", t)) %>%
      pull(url_d)

    akl_gtfs <- import_gtfs(akl_url)

I assume it is as easy as adding in a check, and an option for ignoring irregular files e.g. files not in

[2017-07-25 17:37] tbuckl commented on #38
hi @phildonovan i see that too. tried to email you but your listed github email is dead.

[2017-07-25 19:23] dantonnoriega commented on #38
I was able to recreate the error, but here is my question:

do you happen to know if there is a general format for `stop_info.txt`. Googling the file name results in no standard file result. But I did find a single occurrence of the file online... [Auckland](https://transitfeeds.com/p/auckland-transport/124/20170315/file/stop_info.txt)!

That said, the broader concern that you bring up is the fact

[2017-07-25 19:56] dantonnoriega commented on #38
@phildonovan please download the most recent version and tell me if it fixes your problem. Works on my end!

[2017-07-25 19:58] dantonnoriega commented on #37
I'm a big fan of `data.table` but chose to keep things consistent by using `tidy verse`.

Would you mind posting computation speeds between doing things in `data.table` vs `tidyverse`? If there difference are not too large, I think it's worth keeping it in `tidyverse`.

[2017-07-25 21:09] mdsumner commented on #24
I can do that. One thing I learnt just now is to ensure lower level classes in sp don't have named lists which is a side effect of some approaches I have used.  Fwiw running mapview on a sprint object is a good way to visualize it, check for basic sense.

[2017-07-25 21:19] dantonnoriega commented on #24
Awesome! Thanks!

[2017-07-25 22:36] SymbolixAU commented on #37
For what it's worth, you can speed up the geosphere calculations too (I think this may have been in answer to your SO question @rafapereirabr )
https://stackoverflow.com/a/42014364/5977215

(and I have been playing about with various spatial calculations within data.table: https://www.symbolix.com.au/blog-main/j26ynx6awfl32brcaxdjxnwalwmmbc)

[2017-07-25 22:47] SymbolixAU opened #39 "GTFS Realtime"
I've got a much more nascent gtfs package where I've been focusing on getting the realtime feeds into R, (and integrating with `data.table`).
https://github.com/SymbolixAU/gtfsway

Is this something you think is worthwhile bringing into `gtfsr` ?

[2017-07-26 10:04] rafapereirabr commented on #37
@dantonnoriega , I can see why one would like to keep `tidyverse` consistency when it comes to the library interface with the end user but IMHO this needs to be flexible when the code running in back can be made more efficient.

Here is a simple benchmark comparing the two approaches using the gtfs feeds of NYC. Note that the `data.table` approach is almost two times faster than `dplyr`. This effi

[2017-07-26 11:46] mdsumner commented on #37
I think the inner sapply(NYC, ) in each function is unnecessary? You should be passing in shapes_df each time, right?

BTW, I'm impressed how fast both dt and dp are, I thought this would beat it but I think it's the split that's slow:

[code]

I appreciate the example!

[2017-07-26 13:21] rafapereirabr commented on #37
@mdsumner Some  metropolitan areas have different transit agencies that create separate GTFS feeds. So if one wants to analyze the entire transit system of an area,  it is important to consider all feeds at the same time. This is the reason why I used  `sapply(NYC, '[[', "shapes_df") %>% rbindlist(fill=T)` to bind all `shapes.txt` files.

[2017-07-26 13:27] mdsumner commented on #37
But that happens outside the function, and then inside each function - and the `df` input to each function is ignored. So I'm still confused :{

[2017-07-26 14:04] rafapereirabr commented on #37
Oops. My bad. I didn't see the code was repeating `sapply` inside and outside the function. Thanks for the heads ups. I've removed the `sapply` call outside the functions

[2017-07-26 14:05] dantonnoriega commented on #37
I generalized the code just in case one doesn't want to combine all shape files and to ensure all functions are self contained (do not depend on objects not passed to function). I also thought that, perhaps, converted objects may contribute to slowdown.

The conversion appears to have minimal impact. And `data.table` is faster (which isn't surprising).

So the question is:

I suppose adding anothe

[2017-07-26 14:06] mdsumner commented on #37
Oh nice, thanks!

[2017-07-26 14:25] rafapereirabr commented on #37
@dantonnoriega , nice work but prefer converting DFs into data.table using `setDT(df)` instead of `as.data.table(df)`. because it's much faster.

I've already written a function that  returns the travelled distance, speed and travel time for each `trip_id`. My code also aggregates (average) this info to `route_id` level and counts the frequency of each `route_id` as well. I find this useful to che

[2017-07-26 15:10] dantonnoriega commented on #37
I think it is very useful. Let's open a `dev` branch and start adding some functions!

[2017-07-26 21:13] mdsumner commented on #37
Agreed! And for what it's worth - I'm here just as interested observer, it's very useful for me to see these explorations. I don't have enough understanding of gtfsr broadly to weigh up pros and cons overall.

[2017-08-04 12:51] gregmacfarlane opened #41 "summarise_each deprecated"
When loading gtfs files I get a warning,

[code]

The `summarise_each()` method was deprecated in dplyr 0.6/0.7

[2017-08-04 13:01] gregmacfarlane commented on #41
NVM, fixed in development version on GitHub

[2017-08-04 13:01] #41 closed

[2017-08-28 17:32] JFCantinMTL opened #42 "Update for newer version of R"
Hello,

I'm new to R. Tried to install this package and got this message :"package ‘gtfsr’ is not available (for R version 3.4.1)

Looking forward to work with this package

[2017-08-28 17:59] dantonnoriega commented on #42
Could you write the code you used to try and install the package?

My guess is that you ran `install.package("gtfsr")`. This won't work because the package is not on CRAN.

You must install using devtools: `devtools::install_github('ropensci/gtfsr')`.

Hope that helps! I just tested an install and it worked on my end. I'm also using R 3.4.1.

[2017-08-28 18:25] JFCantinMTL commented on #42
Your're right. Thanks !

[2017-08-28 20:42] #42 closed

[2018-02-13 19:49] dantonnoriega commented on #39
Apologies for not responding sooner. It’s something I considered long ago but had to shift away from this project.

Feel free to hack away and see if you could add it as a feature!

[2018-02-13 20:07] mdsumner commented on #39
@SymbolixAU - I haven't compared with your work, but you might like to see https://twitter.com/sjmgarnier/status/963248599982395392 and https://ropensci.org/blog/2017/11/14/realtime/

[2018-02-14 00:41] SymbolixAU commented on #39
@dantonnoriega Not to worry, I have also shifted away. I might get back to it at some point, but I have other priorities.

@mdsumner thanks for the links - I was aware of the output from the OzUnconf, and in particular tRainspotting (even though they say my project doesn't have a nice name https://github.com/ropenscilabs/tRainspotting ) - the cheek ;)

[2018-02-25 15:38] FilipeamTeixeira opened #44 "Can't build vignettes"
When running `devtools::install_github('ropensci/gtfsr', build_vignettes = TRUE)`, I get the following error.

`Quitting from lines 59-64 (gtfsr-vignette.Rmd)
Error: processing vignette 'gtfsr-vignette.Rmd' failed with diagnostics:
API Key not found. Please set your API key using function 'set_api_key()'.
Execution halted
Installation failed: Command failed (1)`

It seems obvious that I need to se

[2018-02-26 03:03] dantonnoriega commented on #44
Hmmm, you make a great point. The vignette shouldn't require an outside dependency but at the same time, the purpose of the package, and what is shown in the vignette, depends on having access to the API.

I didn't consider this when I wrote the vignette. You can see a lot of it already just by going to the md file on GitHub, but I'll have to think about a work around. Perhaps I'll have to get an

[2018-02-26 08:12] FilipeamTeixeira commented on #44
Thanks. I had no issues installing it without the vignette, however, I would really like to have more documentation on this package. It's a pity that a lot of functions are a bit unclear, but I'm happy to help if you need to as I'll be using your package for the next few months.
About the vignette, it should be possible to generate it without running the set_api_key function. I can look into it, i

[2018-02-27 07:52] mpadge opened #45 "cran release"
Both a question and a prompt: Any concrete plans? Schedule?

I'll be happy to help any way I can. Maybe start a git project, add some issues to it, and ask folk to jump in and help? I would like to use`gtfsr ` in an extension to my [`dodgr` package](https://github.com/ATFutures/dodgr), but would need it on CRAN first.

[2018-02-27 08:12] mdsumner commented on #45
I'll help!

[2018-02-27 09:26] mdsumner commented on #24
It definitely looks fine to me, @mpadge will have stronger insights about the best ways to manage the conversions, but I'd say that can be put off.

These functions (in convert_gtfs.R) definitely need examples and stronger title and description slots. They could be bundled together in one Rd.

[2018-02-27 09:29] mdsumner commented on #37
FWIW, I'd go with the non-data.table approach and seek speed ups when needed - there's a lot of options and it's kind of easier to make decisions about a package that's already released ;)

[2018-02-27 09:43] mdsumner commented on #44
Could you download the data and installed it in the package as a built-in? Whenever examples use the data set, it could include the commented out code that would be required to get it live.

I.e. analogously for the gtfs_obj example, in data-raw/ would be script to record something like this

[code]

[2018-02-27 21:07] dantonnoriega commented on #44
That is such a simple and great solution. I can just show the api section
but not evaluate it then import the data with an invisible block.

On Tue, Feb 27, 2018 at 1:43 AM Michael Sumner <notifications@github.com>
wrote:

[2018-02-28 02:46] dantonnoriega commented on #45
I think a big missing part is examples and documentation. I’d love help.
New job plus still working on dissertation has limited extra time.

On Tue, Feb 27, 2018 at 12:12 AM Michael Sumner <notifications@github.com>
wrote:

[2018-02-28 07:07] mpadge commented on #45
Those are 2 good excuses. Expect some PRs soon then

[2018-03-03 21:51] tbuckl commented on #45
hi @mpadge @dantonnoriega @mdsumner.

i've been looking at functions like this:

https://github.com/ropensci/gtfsr/blob/master/R/map-gtfs-stop.R

i hope to have a relevant vignette on something related to contribute within a few days.

[2018-03-04 21:19] tibbl35 opened #48 "separate validation, joining, and mapping?"
would this be more maintainable if we separate the validation from the table joins and mapping?

it seems like things are sort of blended together.

is that out of necessity?

or could, for example, a `check_service_ids` function be called from within a mapping function?

[2018-03-04 21:21] tbuckl commented on #48
some examples of validation here from @rustyb?

https://github.com/rustyb/GTFSr/blob/master/R/final.gtfs.R#L34-L157

[2018-03-04 21:23] tbuckl commented on #48
thinking specifically of these kinds of checks:

https://github.com/ropensci/gtfsr/blob/master/R/convert-gtfs.R#L76-L85

not what they are but where they happen. if they could be in their own functions.

[2018-03-04 23:03] tbuckl commented on #48
here's an example of this:

https://github.com/tibbl35/gtfsr/commit/aea19551929cb61c84ea390d5d0188b2ba4f95db

[2018-03-12 04:59] dantonnoriega commented on #44
Closed by merge or pull request #46.

[2018-03-12 05:10] dantonnoriega opened #51 "Add names of recent contributors to description"
To all who have contributed recently, please leave your preferred name and, optionally, email, as a comment below so your contributions can be recognized!

[2018-03-12 10:09] mdsumner commented on #51
Michael Sumner, don't really feel like it was much, but hope to do more, thanks!

[2018-03-14 15:57] tbuckl commented on #51
Tom Buckley. buckley.tom@gmail.com

[2018-03-16 05:55] dantonnoriega commented on #44
closed prematurely. made some more added adjustments to what @mdsumner started. was able to compile from a github_install tarball as shown in readme. give a go!

[2018-03-16 05:55] #44 closed

[2018-05-30 22:21] znmeb commented on #44
Can I reopen this? I want to install the vignettes. Is the workaround to fork the repo and build a `pkgdown` site?

[2018-05-31 00:34] dantonnoriega commented on #44
Did the most recent build not work?

On Wed, May 30, 2018 at 3:21 PM M. Edward (Ed) Borasky <
notifications@github.com> wrote:

[2018-06-02 22:03] znmeb commented on #44
I think I found the problem. I forked the repo and tried the build and got the error. It turns out that the failure is happening at line 75 of <https://github.com/ropensci/gtfsr/edit/master/vignettes/gtfsr-vignette.Rmd>

[code]

That's a path that doesn't exist on my machine. When I changed it to a path that did exist, the vignette built, as did a `pkgdown::build_site`.

I'm not sure where that fi

[2018-06-02 23:04] dantonnoriega commented on #51
Thanks. Added you guys to the DESCRIPTION.

[2018-06-02 23:04] #51 closed

[2018-06-02 23:06] dantonnoriega commented on #38
assumed fixed?

[2018-06-02 23:06] #38 closed

[2018-06-02 23:10] dantonnoriega commented on #37
@rafapereirabr been a while but I was wondering if you were still interested in adding your functions to the package for calculating distances?

[2018-06-02 23:11] dantonnoriega commented on #44
I think i fixed the issue: moved "gtfs_obj.rda" to the vignettes folder and called it directly.

pushed changes. give them a go.

[2018-06-02 23:34] znmeb commented on #44
Yep - installs fine! Thanks!!

[2018-06-04 22:49] rafapereirabr commented on #37
@dantonnoriega , I would be glad to contribute with that function. This month is quite busy for me though as I'm trying to submit my thesis asap. Is it Ok I make this contribution in early July?

[2018-06-05 03:53] dantonnoriega commented on #37
No rush, dude!

On Mon, Jun 4, 2018 at 3:49 PM Rafael H M Pereira <notifications@github.com>
wrote:

[2018-07-01 22:02] tbuckl opened #53 "consider breaking off pieces of the package that make maintenance and CRAN submission harder"
hi @dantonnoriega, @mpadge, and @mdsumner,

i'd be grateful if you could give me some feedback on attempt i made to refactor this package so that it can keep on chugging along.

i broke things out by function/dependency:

https://github.com/r-gtfs

i think gtfsr can still live here and will require a lot less code in it.  let me know what you think, if you have the time.

i think this may offer a

[2018-07-02 07:32] mpadge commented on #53
This looks like a really sound approach, nice work @tbuckl. Especially the quarantining-off of `gtfs` is really sensible and likely very advantageous. I'm travelling a lot over summer (as is @mdsumner), so likely won't have too much time for the next month or so, but will get on to it asap after that. Feel free in the meantime to ping any issues, questions, thoughts. This is a great development!

[2018-07-02 07:34] mpadge commented on #53
Also ping @robinlovelace

[2018-07-02 19:15] tbuckl commented on #53
thanks @mpadge yes the primary concern was to isolate a few things:

1) transitfeeds.com (could replace, augment with transit.land or, in bay area, 511).
2) reading and writing gtfs files from urls (this seems really solid, well tested).
3) geospatial data types (could replace sf with sp or silicate)
4) mapping (let other packages handle the hard stuff--tmap, mapview)
5) schedules/time analysis

i

[2018-07-02 20:46] mpadge commented on #53
I think that initial fragmentation into sensible smallest possible units is a great idea. We will gain pretty speedy insight into the extent of code overlap/re-use between the components, and that will likely provide the best guide to future re-mergers.

[2018-07-15 00:23] tbuckl commented on #48
this is a duplicate of https://github.com/ropensci/gtfsr/issues/53

[2018-08-03 18:01] angela-li commented on #53
Hi all! I've been using `gtfsr` lately for work, and I have a pretty clear idea of how this package could be split up for maintenance and submission to CRAN.

To me, it makes sense to keep `gtfsr` as a package solely for ETL and API access to TransitFeeds, and make a **single separate package** that imports `gtfsr` (called `tidytransit`, possibly modeled after [`tidycensus`](https://github.com/wal

[2018-08-03 19:51] znmeb commented on #53
I'm building some GTFS consumption tools and I ended up using the Python-based ones that feed directly into a relational database - https://github.com/CUTR-at-USF/gtfsrdb for the real-time feed and https://github.com/OpenTransitTools/gtfsdb for the schedule feed. Considering the magnitude of these feeds, this approach made more sense than `gtfsr` and https://github.com/SymbolixAU/gtfsway.

My idea

[2018-08-04 02:07] tbuckl commented on #53
hi @angela-li thanks. i'm going to close this issue. i largely satisfied this request for myself here:

https://github.com/r-transit

as you know, `tidytransit` is an existing package name. so another package named exactly the same thing might make things difficult for users.

perhaps given that you work for @eamcvey, the listed maintainer, she can give you the direction you need on your goals.

[2018-08-04 02:07] #53 closed

[2018-09-19 19:25] f00- opened #57 "trouble installing on windows and rstudio.cloud"
Hey! I'm trying to reproduce [this visualization](https://www.dfsnow.me/post/r-gtfs-feeds/) using [my own gtfs data](https://www.viainfo.net/developers-resources/) and one of the dependecies is gtfsr. However the install gets hung up on a dependency called 'gtsf', any ideas? I've tried on windows (r version 3.5.1) and rstudio cloud (r version 3.5.0) so far.

Sorry if I'm missing something obvious!

[2018-09-19 19:50] dantonnoriega commented on #57
I checked an this is due to `gtsf` being deprecated. I also checked and this dependency was unnecessary. Made a few quick edits. Should work now but I have yet to test (other than a successful install on my local machine).

[2018-09-19 19:50] #57 closed

[2019-06-20 03:32] r-barnes commented on #37
But this method leaves out the possibility that the road distance between two stops is significantly longer than the great circle distance.

[2019-06-20 14:39] rafapereirabr commented on #37
In hindsight,  I believe a function calculating distances between stops should ideally consider the network distance along the route. I haven't found a fast way to do this, though. Any thoughts?

[2019-06-20 22:00] SymbolixAU commented on #37
it will require the `shapes.txt` file to give you the network, then it should be a case of iterating along the coordinates in the shape and finding the distance between each one, and summing them up as you go. Do this in C++ and it should be fast.

[2019-06-21 00:33] mdsumner commented on #37
dodgr?

[2019-06-21 00:38] SymbolixAU commented on #37
For routes or distance?

[2019-06-21 11:16] polettif commented on #37
Just as a general FYI, [pfaedle](https://github.com/ad-freiburg/pfaedle) is a tool to create shapes.txt with network routes if a feed doesn't have them already.

[2019-06-23 23:01] SymbolixAU commented on #37
@polettif that looks very useful. Do you know if there are any plans to wrap it in an R library?

[2019-06-24 07:29] polettif commented on #37
No, I don't know of any plans. I guess it shouldn't be too difficult with Rcpp.

[2021-01-31 09:34] baltti opened #63 "API key"
Neither transitfeed.com nor openmobilitydata.com sign in works and it is impossible to obtain their API key.
Do you know anything about other possibilities of getting API key? Do they still support it?

[2022-03-30 21:49] pkbenoliel commented on #63
Hello,

It seems openmobilitydata.com is being moved to a site called 'mobility database':

https://database.mobilitydata.org/

I haven't done a lot of exploring yet, but it seems that openmobilitydata.com won't be issuing keys anymore.

[2022-05-26 12:35] maelle opened #64 "Is this package still maintained?"
:wave: @dantonnoriega et al! Is this package still maintained?

I see errors https://github.com/r-universe/ropensci/runs/6549341600?check_suite_focus=true via https://ropensci.r-universe.dev/ui#builds=

[2022-05-26 15:23] dantonnoriega commented on #64
Im no longer maintaining. I wish I had the bandwidth to do so! Would love to find someone who'd like to do so but I'm disconnected from the transportation space quite a bit these days.

[2022-05-30 06:13] maelle commented on #64
Thanks a lot @dantonnoriega, I'll add a call for new maintainers in different channels including the newsletter.

[2022-05-30 06:14] maelle opened #65 "New Maintainer Wanted :-)"
Or a new maintainer _team_ :smile_cat:

If you're interested, please comment in the issue.
For more info, see

* [our guidance on _Changing package maintainers_](https://devguide.ropensci.org/changing-maintainers.html);
* [our _Package Curation Policy_](https://devguide.ropensci.org/curationpolicy.html).

[2022-05-30 06:14] maelle commented on #64
#65

[2022-05-30 06:14] #64 closed

[2022-05-30 06:15] maelle commented on #37
This package is looking for a new maintainer or a new maintainer team. If you're interested, see #65. :smile_cat:

[2022-05-30 06:15] maelle commented on #63
This package is looking for a new maintainer or a new maintainer team. If you're interested, see #65. :smile_cat:

[2022-05-30 06:15] maelle commented on #45
This package is looking for a new maintainer or a new maintainer team. If you're interested, see #65. :smile_cat:

[2022-05-30 06:16] maelle commented on #17
This package is looking for a new maintainer or a new maintainer team. If you're interested, see #65. :smile_cat:

[2022-05-30 06:16] maelle commented on #39
This package is looking for a new maintainer or a new maintainer team. If you're interested, see #65. :smile_cat:

[2022-05-30 11:07] mpadge commented on #65
This package has actually evolved into the non-rOpenSci package https://github.com/r-transit/tidytransit, which is actively maintained and developed. I think this pacakge should be archived. @dantonnoriega would you be okay with us archiving this package, and putting a pointer on a reduced README to tidytransit?

[2022-06-10 09:55] maelle commented on #65
@mpadge could you please transform the README (so that you might phrase the pointer to tidytransit)? Thank you!

[2022-06-10 10:16] mpadge commented on #65
Sorry @maelle i tried but don't have admin here. But you can just copy-paste this:

[code]

[2022-06-10 10:19] maelle commented on #65
This package has been archived, with ongoing developed moved to [r-transit/tidytransit](https://github.com/r-transit/tidytransit).

[2022-06-10 10:19] #65 closed

[2022-06-10 10:19] #17 closed

[2022-06-10 10:19] #24 closed

[2022-06-10 10:19] #29 closed

[2022-06-10 10:19] #37 closed

[2022-06-10 10:19] #39 closed

[2022-06-10 10:19] #45 closed

[2022-06-10 10:20] #63 closed